body {
    background-color: bisque;
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/* Globals */

.container {
    overflow: hidden;
    margin: auto;
    padding-bottom: 20px;
    width: 65%;
}

p {
    font-style: italic;
}

a {
    text-decoration: none;
    color: orangered;
}

ul {
    padding: 0;
    margin: 0;
}

/* Header */

header {
    background: #35424a;
    color: #ffffff;
    padding-top: 20px;
    padding-left: 10px;
    min-height: 70px;
    text-align: center;
    border-bottom: /*orangered*/ #A17188 3px solid;
}

header li {
    display: inline;
    padding: 0 20px 0 20px; /* Clockwise (top, right, bottom, left) */
}

header nav {
    text-align: center;
    /* margin-top: ; */
    margin: 10px;
}

/* Footer */

footer {
    background: #35424a;
    min-height: 35px;
    padding-top: 20px;
    text-align: center;
    color: #ffffff;
    border-top: /*orangered*/ #A17188 3px solid;
}

/* Section */

section {
    background: url("showcase.jpeg") no-repeat -725px -730px;
    min-height: 175px;
    text-align: center;
    color: #ffffff;
    padding-top: 25px;
}

section p {
    font-size: larger;
    padding: 5;
}

/* Article */

article p {
    color: #ffffff;
    background-color: #35424a;
    padding: 15px;
    margin-top: -20px;
    /* box-shadow: -50px 25px 12px -15px black, 
                -75px 35px 12px -15px #A17188; */
}

article h3 {
    color: /*#12642d*/ black;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: /*#8b0000 #9199f2 #5803a3 #35424a #0B92E3*/ #A17188;
    padding: 10px;
}

/* Edit */

.edit {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
